<!DOCTYPE html>
<html>
  <head>
    <base href="{{ base_uri|e }}">
    <title>barrucadu.dev</title>
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <link rel="alternate" href="atom.xml" type="application/atom+xml" title="barrucadu.dev events">
    <link rel="canonical" href=" {{ base_uri|e }}">
    <link rel="icon" href="static/icon.png">
  </head>

  <body>
    {% if not events %}
    <h1>No events.</h1>
    <p>Did you mistype the project name?</p>
    {% else %}
    <div class="events">
      {% for event in events %}
      <div class="metadata">
        <span class="source">
          <a class="project" href="{{ event.project.url|e }}">{{ event.project.name|e }}</a>
          {% if event.tag is defined %}
          @
          <span class="tag">
            {% if event.tagUrl is defined %}<a href="{{ event.tagUrl|e }}">{% endif %}
            {{ event.tag|e }}
            {% if event.tagUrl is defined %}</a>{% endif %}
          </span>
          {% endif %}
        </span>
        <time datetime="{{ event.timestamp|e }}">{{ event.relative_timestamp|e }}</time>
      </div>
      <img class="status" src="static/{{ event.status_image|e }}" alt="Status: {{ event.status|e }}" title="Status: {{ event.status|e }}">
      <div class="detail">
        {% if event.phase is defined %}<span class="phase">{{ event.phase|e }}</span>{% endif %}
        {{ event.description|e }}
        {% if event.detailsUrl is defined %}<a href="{{ event.detailsUrl|e }}">(details)</a>{% endif %}
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </body>
</html>
