@font-face {
  font-family: 'Gentium Book Basic';
  font-style: normal;
  font-weight: 400;
  src: local('Gentium Book Basic'), local('GentiumBookBasic'), url('/static/fonts/gentiumbookbasic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
    font-family: 'Gentium Book Basic', Cambria, Georgia, Times, serif;
    font-size: 24px;
}

body {
    background-color: #f8f7ee;
    margin: 48px auto;
    max-width: 1000px;
}

a, a:link, a:visited {
    color: #526569;
}

a:active, a:hover {
    color: #8ebebd;
}

.events {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: max-content min-content auto;
    grid-gap: 24px;
}

.metadata {
    text-align: right;
}

.status {
    max-width: 48px;
    max-height: 48px;
    object-fit: scale-down;
}

.detail {
    text-align: left;
}

.source {
    font-weight: bold;
}

.metadata span.source, .metadata time, .detail a {
    display: block
}

.detail a {
    font-size: 18px;
}
